<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/spirographs">Spirographs</a></li>
	        		<li><a href="/flocking">Flocking</a></li>
	    		</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div>
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/AmyChodorowski">github.com/AmyChodorowski</a></li>
				</ul>
			</footer>
		</body>
	</html>